* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, rgb(193, 143, 240), #fff);
}

header {
  margin-bottom: 20px;
}

header h1 {
  padding: 24px 12px;
  text-align: right;
}
nav {
  background-color: blueviolet;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

li a {
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

li a:hover {
  background-color: rgb(168, 98, 234);
  color: #fff;
}

.dropdown-links {
  display: none;
  position: absolute;
  background-color: #fff;
}
.dropdown-links a {
  display: block;
  overflow: auto;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.dropdown-links a:hover {
  background-color: rgb(218, 188, 246);
  color: #2d2d2d;
}

.dropdown:hover .dropdown-links {
  display: block;
  z-index: 1;
  background-color: rgb(168, 98, 234);
}
